* {
    margin: 0;
    padding: 0;

    --bg-color: #e0e9f0;
    --accent-color: #a78bfa;
    --fg-color: #FFFAFA;

    /* border: solid 2px lawngreen; */
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar mainpage";

    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-template-rows: 10%;
    grid-auto-rows: auto;
    background-color: var(--accent-color);
}

.sidebar-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    color: var(--fg-color);
    font-weight: bold;
}

#sidebar-logo {
    height: 4em;
    fill: var(--fg-color);
}


.page-title {
    font-size: 2em;
}

.nav-menu {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    margin: 12px;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--fg-color);
}

#nav-menu-icon {
    height: 2rem;
    fill: var(--fg-color);
} 

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: 	var(--fg-color);
}

.search {
    display: flex;
    justify-content: space-evenly;
}

.search-icon {
    height: 24px;
}

#searchbar {
    width: 90%;
    border: none;
    border-radius: 12px;
    background-color: var(--bg-color);
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notif-icon {
    height: 1.5em;
    padding: 1rem;
}

.user-acc {
    height: 2em;
    padding: 1rem;
    fill: var(--accent-color);
}

.acc-name {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em;
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "accountprofile greetings"
    "accountprofile username";
}

.user-icon {
    grid-area: accountprofile;
    justify-self: end;
    height: 4em;
    padding: 1rem;
    fill: var(--accent-color);
    overflow: unset;
}

.greetings {
    grid-area: greetings;
    align-self: end;
    font-size: 1em;
    font-weight: bold;
}

.user-name {
    grid-area: username;
    font-size: 2em;
    font-weight: bold;
}

.share-btn {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
}

button {
    background-color: var(--accent-color);
    color: 	var(--fg-color);
    border: none;
    border-radius: 24px;
    height: 2rem;
    width: 4rem;
    font-weight: bold;
}

.main-page {
    grid-area: mainpage;
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";

    background-color: var(--bg-color);
}

.projects {

    display: grid;
    grid-area: projects;
    gap: 1.2rem;
    grid-template-rows: 5vh;
    grid-auto-rows: 20vh;
    grid-template-areas: "projecttitle projecttitle";
    justify-items: center;
    align-items: center;

    margin: 1.5rem;
}

.projects-title {
    grid-area: projecttitle;
    align-self: center;
    justify-self: start;
    height: 10%;

    font-size: 1.2rem;
    font-weight: bold;
}

.project-card {
    display: grid;

    height: 100%;
    width: 100%;
    background-color: var(--fg-color);
    border-radius: 1rem;
}

.project-card-title {
    font-weight: bold;
    padding: .5rem;
}

.project-card-info {
    color: grey;
    padding: .5rem;
    overflow: hidden;
}

.share-btn {
    padding: .5rem;
}

.project-star {
    height: 1.5em;
}

.project-eye {
    height: 1.5em;
}

.project-share {
    height: 1.5em;
}

.announcements {
    grid-area: announcements;
    display: grid;
    gap: 1.2rem;
    grid-template-rows: 5vh;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.announcements-title, .announcement-heading {
    align-self: center;
    justify-self: start;
    height: 10%;
    font-size: 1.2em;
    font-weight: bold;
}

.announcement-heading {
    font-size: 1rem;
}

.announcements-card {
    display: flex;
    flex-direction: column;
    gap: .1em;
    
    background-color: var(--fg-color);
    border-radius: 1rem;
    height: 30vh;
    padding: .5rem;
}

.announcement-row {
    overflow: hidden; 
    text-overflow: ellipsis;   
}

.announcements-description {
    color: gray;
    font-size: .8rem;
    padding-top: 1rem;
}

.trending {
    grid-area: trending;
    display: grid;
    gap: 1.2rem;
    grid-template-rows: 5vh;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.trending-heading {
    align-self: center;
    justify-self: start;
    height: 10%;
    font-size: 1.2em;
    font-weight: bold;
}


.trending-card {
    display: flex;
    flex-direction: column;
    gap: .1em;
    justify-content: space-evenly;

    background-color: var(--fg-color);
    border-radius: 1rem;
    height: 30vh;
    padding: .5rem;
}

.treding-user {
    display: grid;
    grid-template-columns: .2fr .8fr;
    gap: .5em;
}

#user-image {
    height: 4rem;
    align-self: center;
    justify-self: center;
}

.user-name {
    font-size: 1.1rem;
    font-weight: 500;
}

.user-caption {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 68, 68);
}
